.navbar{
    padding: 0;
}

.nav-link{
    color: black !important;
    text-transform: uppercase;
    font-weight:600;
}
.container{
    padding:0;
}

.container-fluid{
    padding: 0;
}
.container{
    width: 1140px;
    margin: auto;
}
